* {
    margin: 0;
    padding: 0;
}

.baris {
    box-sizing: border-box;
    padding: 20px;
}

.kolom {
    height: 500px;
    box-sizing: border-box;
}

.kolom1 {
    width: 45%;
    float: left;
    padding: 30px;
}

.kolom2 {
    float: right;
    width: 55%;
}

.kolom2 img {
    width: 100%;
    height: 100%;
}

li {
    margin-bottom: 15px;
}

@media(max-width: 760px) {
    .kolom2 {
        float: left;
        width: 100%;
    }

    .kolom1 {
        width: 100%;
    }

    .kolom {
        height: auto;
    }
}

.flex-container,
.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    clear: both;
    padding: 20px;
}

.item {
    width: 333px;
    height: auto;
    background-color: #ffce66;
    margin: 3px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
}

.item p {
    font-size: 1.6rem;
    text-align: center
}

@media(max-width: 760px) {
    .item h2 {
        font-size: 1rem;
    }
}

.form-card {
    background-color: #f3f3f3;
    margin-right: 30px;
    width: 40%;
    padding: 20px;
}

.laporan-card {
    width: 50%;
}

.input-card {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input,
textarea {
    font-size: 14px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 15px;
}

textarea {
    padding: 15px;
}

input {
    height: 30px;
}

button,
.login-btn,
.back-btn {
    width: auto;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    float: right;
    margin-top: 20px;
    background-color: #ffce66;
    cursor: pointer;
}

button.btn-delete {
    float: none;
}

.back-btn {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
    background-color: #ffce66;
}

@media(max-width: 760px) {
    .form-container {
        padding: 0 40px;
    }

    .form-card {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .laporan-card {
        width: 100%;

    }
}

@media (max-width: 550px) {
    label {
        font-size: 0.9rem;
    }
}

footer {
    text-align: center;
    background-color: #ffdf98;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
}

header {
    padding: 20px;
}

a.login-btn {
    margin-top: 0;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
}

.article {
    border: 1px solid #000;
    padding: 20px;
    margin-top: 20px;
}

.article p {
    text-align: right;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content .text {
    max-width: 70%;
    margin-right: 15px;
}

.content img {
    width: 180px;
    max-width: 100%;
}

@media (max-width: 550px) {
    .content {
        flex-direction: column;
    }

    .content img {
        float: right;
        margin-top: 10px;
    }

    .content .text {
        font-size: 0.8rem;
    }

    .content img {
        width: 150px;
    }
}

/* table */
h2.title-table{
    margin: 30px 0 10px 0;
    text-align: center;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}